# {{ ansible_managed }}

MDContactEmail          {{ apache.server_admin }}
MDCertificateAgreement  accepted
MDRequireHttps          temporary

{% for dom in apache.mod_md %}
<MDomain {{ dom.domain }}>
{% for member in dom.members | d([]) %}
    MDMember {{ member }}
{% endfor %}
</MDomain>
{% endfor %}

# vim: set ft=apache :
