# {{ ansible_managed }}

<VirtualHost _default_:80>
    ServerName          {{ server_name }}
    ServerAlias         {{ server_aliases | join(' ') }}
    DocumentRoot        /var/www/gamecon.cz

    <Directory /var/www/gamecon.cz>
        AllowOverride   all
        Options         -Indexes -ExecCGI
        Require         all granted
    </Directory>
</VirtualHost>

<VirtualHost _default_:443>
    ServerName          {{ server_name }}
    ServerAlias         {{ server_aliases | join(' ') }}
    DocumentRoot        /var/www/gamecon.cz

    SSLEngine           on
    Protocols           http/1.1 acme-tls/1
    SSLProtocol         all -SSLv3 -TLSv1 -TLSv1.1 -TLSv1.2
    SSLHonorCipherOrder off
    SSLSessionTickets   off

    <Directory /var/www/gamecon.cz>
        AllowOverride   all
        Options         -Indexes -ExecCGI
        Require         all granted
    </Directory>
</VirtualHost>

# vim: set ft=apache :
