@media (max-width: 1200px) {
  .program_filtry_container > * {
    flex-direction: column;
    gap           : 4px !important
  }

  .program_filtry_container > * > * {
    width    : 100% !important;
    max-width: 100% !important
  }

  .program_filtry_container > * > button {
    margin-left: 0
  }
}