
/* celý blok programu */
table.program {
  text-align: center;
  border-spacing: 0px;
  table-layout: fixed;
  color: #fff;
  min-width: 800px;
}

/* střídavé pozadí řádků */
table.program tr { background-color: #fff; }
table.program tr:nth-child(2n+1) { background-color: #eee; }

/* obecně každá buňka prog. tabulky */
table.program td, table.program th {
  width: 5%;
  border: 0;
  padding: 0;
}

/* hlavičky */
table.program th {
  background-color: #444;
  padding: 4px 5px;
  font-weight: normal;
}

/* sloupec popisků skupin (linií) */
table.program td[rowspan] {
  background-color: #444;
  border-top: solid 1px #555;
  padding: 0 5px;
}
table.program th:first-child { min-width: 180px; }

/* vertikální čáry */
table.program td { border-right: solid 1px #ddd; }
table.program td:last-child { border: 0; }
table.program th { border-right: solid 1px #555; }
table.program th:last-child { border: 0; }

/* samotná "bublina" s aktivitou */
table.program td[colspan] div {
  margin: 2px;
  padding: 2px;
  color: #fff;
  border-radius: 6px;
  background-color: #444;
}
table.program td a { color: #fff; text-decoration: none; }
table.program td a:hover { text-decoration: underline; }

/* barvy počítadla lidí */
table.program td .f { color: #e0d; }
table.program td .m { color: #0ff; }
/*table.program td .neprihlasovatelna { color: #; }*/

/* barvy aktivit */
table.program .vDalsiVlne, .legenda .vDalsiVlne     { background-color: #a22 !important; }
table.program .vBudoucnu, .legenda .vBudoucnu       { background-color: #c66 !important; }
table.program .plno, .legenda .plno                 { background-color: #bbb !important; }
table.program .prihlasen, .legenda .prihlasen       { background-color: #2a2 !important; }
table.program .organizator, .legenda .organizator   { background-color: #44c !important; }
table.program .nahradnik, .legenda .nahradnik       { background-color: #daa520 !important; }
