/_*

/cache/private/*
!/cache/private/.htaccess
/cache/public/*
!/cache/public/.htaccess

/nastaveni/nastaveni-beta.php
/nastaveni/nastaveni-ftpdeploy.php
/nastaveni/nastaveni-local.php
/nastaveni/nastaveni-nasazovani.php
/nastaveni/nastaveni-produkce.php
/nastaveni/nastaveni-redesign.php

/node_modules

/vendor

/admin/*.sql.gz

/web/soubory/
!/web/soubory/styl
!/web/soubory/*.js
!/web/soubory/systemove
/web/soubory/systemove/aktivity/*
!/web/soubory/systemove/aktivity/.keep
/web/soubory/systemove/avatary/*
!/web/soubory/systemove/avatary/default.png
/web/soubory/systemove/fotky/*
!/web/soubory/systemove/fotky/.keep

/docker-compose.override.yml