/_*

/.idea/
/.vscode/
/.phpunit.result.cache

/cache/private/*
!/cache/private/.htaccess
/cache/public/*
!/cache/public/.htaccess

/node_modules

/vendor

/admin/*.sql.gz

/web/soubory/*
!/web/soubory/blackarrow
!/web/soubory/styl
!/web/soubory/*.js
!/web/soubory/ui
/web/soubory/**/*.js.map
!/web/soubory/systemove
/web/soubory/systemove/*/*
!/web/soubory/systemove/*/.gitkeep
!/web/soubory/systemove/*/.htaccess
*.map

/nasad.log
/.htdeployment

/docker-compose.override.yml
/docker-compose.yml
