/_*

/cache/private/*
!/cache/private/.htaccess
/cache/public/*
!/cache/public/.htaccess

/nastaveni/google_api_client_secret.json
/nastaveni/nastaveni-beta.php
/nastaveni/nastaveni-ftpdeploy.php
/nastaveni/nastaveni-local.php
/nastaveni/nastaveni-nasazovani.php
/nastaveni/nastaveni-produkce.php
/nastaveni/nastaveni-redesign.php
/nastaveni/nastaveni-blackarrow.php

/node_modules

/vendor

/admin/*.sql.gz

/web/soubory/*
!/web/soubory/blackarrow
!/web/soubory/styl
!/web/soubory/*.js
!/web/soubory/systemove
/web/soubory/systemove/*/*
!/web/soubory/systemove/*/.keep

/nasad.log
/.htdeployment

/docker-compose.override.yml
/docker-compose.yml
