# docker pull jaroslavtyc/gamecon-8.1:latest && docker-compose up --build
version: "3"
services:
  web:
    image: jaroslavtyc/gamecon-8.1:latest
    # build: .
    restart: "no"
    volumes:
      - .:/var/www/html/gamecon:delegated
      # - ~/.cache/composer:/home/www/.composer
      # - ~/.cache/composer:/root/.composer
      - ./.docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-compose-xdebug.ini:ro
    environment:
      XDEBUG_CONFIG: "client_host=172.17.0.1 client_port=9003 remote_log=/tmp/xdebug.log"
      # XDEBUG_TRIGGER: "yes" # to start XDebug for EVERY request (use `export XDEBUG_TRIGGER: "yes"` to enable it in CLI and `unset XDEBUG_TRIGGER` to disable for CLI again - in browser use same-named variable in GET, POST or COOKIE, or legacy named via some browser extension)
      COMPOSER_AUTH: '{"github-oauth":{"github.com":""}}' # Go to https://github.com/settings/tokens to generate new (read only) access token to let Github pair your requests to your account and to raise the cap of allowed requests (during Composer Github-related actions like install, update, require etc)
    ports:
      - 80:80

  sql.gamecon:
    image: mariadb:10.3.27 # should be same as on live server
    container_name: sql.gamecon
    restart: "no"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - TZ=Europe/Prague
    volumes:
      # - ./docker/db:/etc/mysql/conf.d:ro
      - ~/.cache/gamecon/mysql:/var/lib/mysql
    expose:
      - 3306
    ports:
      - 13306:3306

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - sql.gamecon
    environment:
      PMA_HOST: sql.gamecon
      PMA_PORT: 3306
      UPLOAD_LIMIT: 8M
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8081:80
