includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 6
    paths:
        - symfony/config/
        - symfony/src/

    bootstrapFiles:
        - nastaveni/zavadec-zaklad.php
