body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #ffffff; /*#c2c2c2*/
  background-image: url('background.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center top;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 0.75em;
  overflow-y: scroll;
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  color: #ab0000;
  text-decoration: none;
}

h1 {
  font-size: 180%;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
}

h2 {
  font-size: 130%;
  font-weight: bold;
  margin: 0px;
  margin-top: 22px;
  margin-bottom: 5px;
  padding: 0px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  border-bottom: 1px dotted #ab0000;
}

h3 {
  font-size: 130%;
  font-weight: bold;
  margin: 0px;
  margin-top: 12px;
  padding: 0px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
}

input {
  padding: 0px;
  margin: 0px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
}

textarea {
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
}

form {
  padding: 0px;
  margin: 0px;
}

.edt_hledani {
  padding: 0px;
  padding-top: 3px;
  margin: 0px;
  background-color: #4C2C15;
  background-image: url('top-form-background2.gif');
  background-repeat: repeat;
  border: 1px solid #846a6a;
  color: #d0d0d0;
  padding: 2px;
  height: 16px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 0.75em;
  float: left;
  width: 130px;
  height: 22px;
}

.btn_hledani {
  padding: 0px;
  margin-left: 2px;
  background-color: #624C3E;

  border: 1px solid #ACACAC;
  color: #ACACAC;
  height: 22px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 0.75em;
  float: left;
  width: 50px;
}

.edt_login {
  padding: 0px;
  margin: 0px;
  margin-right: 1px;
  padding-left: 1px;
  background-color: #4C2C15;
  border: 1px solid #846a6a;
  color: #000;
  height: 16px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 90%;
  float: left;
  background-image: url('top-form-background2.gif');
  background-repeat: repeat;
}

.btn_login {
  padding: 0px;
  background-color: #624C3E;
  border: 1px solid #ACACAC;
  color: #ACACAC;
  height: 18px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 90%;
  float: left;
}

.ohraniceni {
  width: 1000px;
  margin: auto;
  text-align: left;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.logo {
  width: 554px;
  height: 125px;
  float: left;
  background-image: url('logo.gif');
  background-repeat: no-repeat;
  background-position: 40px 0px;
  text-align: center;
  font-size: 1.5em;
  font-family: arial, sans-serif;
}

.logo a {
  padding-top: 90px;
  color: #444444;
}

.logo a span {
  margin-left: 20px;
}

.search {
  width: 221px;
  height: 125px;
  float: left;
}

.login {
  width: 223px;
  height: 125px;
  float: left;
}

.horizonttop {
  width: 717px;
  height: 26px;
  background-image: url('navigation.gif');
  background-repeat: no-repeat;
  float: left;
  padding-left: 16px;
  padding-top: 5px
}

.horizonttop a {
  color: #ab0000;
  text-decoration: underline;
}

.horizonttop a:hover {
  text-decoration: none;
}

#pocitadlo {
  padding-top: 50px;
}

#pocitadlo img {
  margin-right: 1px;
}

.menu {
  width: 259px;
  float: left;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  padding-left: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.main {
  width: 512px;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.main a {
  color: #ab0000;
  text-decoration: underline;
}
.main h2 a { text-decoration: none; color: inherit; }

.main a:hover {
  text-decoration: none;
}

.main-top {
  width: 512px;
  height: 17px;
  float: left;
  background-image: url('main-top.gif');
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

.main-middle {
  width: 512px;
  float: left;
  background-image: url('main-background.gif');
  background-repeat: repeat-y;
  padding: 0px;
  margin: 0px;
}

.main-middle-in {
  width: 480px;
  min-height: 666px;
  background-image: url('main-middle.jpg');
  background-repeat: no-repeat;
  float: left;
  padding: 16px;
  padding-top: 0px;
  margin: 0px;
  text-align: justify;
  line-height: 18px;
}

.main-middle-in ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.main-middle-in ul li {
  background: url('li-cervena2.gif') 0px 1px no-repeat;
  margin-left: 10px;
  padding-left: 25px;
}

.main-middle-in ul ul {
  list-style-type: circle;
  margin-bottom: 0px;
}

.main-middle-in ul ul li {
  margin-left: 30px;
  padding-left: 0px;
  background: none;
}

.main-middle-in p {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.main-bottom {
  width: 512px;
  height: 9px;
  float: left;
  background-image: url('main-bottom.gif');
  background-repeat: no-repeat;
}

.main .prehled {
  margin: 0px;
  padding: 0px;
}

.main .prehled .posun {
  position: relative;
  top: -3px;
}

.main .prehled1 .posun {
  position: relative;
  top: -3px;
}

.main .prehled2 .posun {
  position: relative;
  top: -3px;
}

.main .prehled_neaktivni .posun {
  position: relative;
  top: -3px;
}

.main .prehled1_neaktivni .posun {
  position: relative;
  top: -3px;
}

.main .prehled2_neaktivni .posun {
  position: relative;
  top: -3px;
}

.main .prehled strong {
  font-size: 110%;
}

.main .prehled1 {
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
}

.main .prehled1 strong {
  font-size: 110%;
}

.main .prehled2 {
  margin: 0px;
  padding: 0px;
  padding-left: 80px;
}

.main .prehled2 strong {
  font-size: 110%;
}

.main .vysvetli {
  font-size: 90%;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.main .prehled1_neaktivni {
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
  color: #868686;
}

.main .prehled1_neaktivni strong {
  font-size: 110%;
  color: #868686;
}

.main .prehled2_neaktivni {
  margin: 0px;
  padding: 0px;
  padding-left: 80px;
  color: #868686;
}

.main .prehled2_neaktivni strong {
  font-size: 110%;
  color: #868686;
}

.main .vysvetli_neaktivni {
  font-size: 90%;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  color: #868686;
}

.main .vysvetli_neaktivni a {
  color: #868686;
}

.side {
  width: 205px;
  float: left;
  padding: 0px;
  margin: 0px;
}

.horizontbottom {
  width: 980px;
  height: 30px;
  float: left;
  margin-top: 20px;
}

.paticka {
  width: 700px;
  height: 100px;
  float: right;
}

/* ---------- MENU ---------- */

/*

div menu
+-div menu_zacatek
+-ul
  +-li
    +-a
  +-li rozbalovaci
    +-a
    +-ul
      +-li
      +-li
        +-a
+-div menu_konec

*/

/*.menu { cursor: default; }
.menu a { text-decoration: underline; }*/
.menu a.aktivni { /* font-weight: bold; */ color: #ab0000; }
.menu ul ul { display:none; }
.menu ul ul.aktivni { display:block; }

.menu > ul { list-style-type: none; padding:0; margin:0; text-align:left;}
.menu > ul > li > a {
  padding: 5px 0 0 15px;
  width: 238px;
  height: 21px;
  display: block;
  background-image: url('menu.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  font-weight: bold;
  overflow: hidden;
  color: #000;
  cursor: pointer;
}
.menu ul li a:hover { background-position: 0px -52px; color: #ab0000; }
.menu ul ul { margin: 2px 16px; padding: 0; width: 227px;
  list-style-type: none; font-size: 11px; }
.menu ul ul li { background-image: url('undermenu-background.gif');
  padding: 2px 25px; color: #888; }
.menu ul ul a { padding-left:16px; margin-left: -16px;
  background-repeat: no-repeat; color: #000; }
.menu ul ul a.aktivni, .menu ul ul a:hover {
  background-position: 0px 1px;
  background-image: url('gc.gif');
  color: #ab0000; }
.menu .submenuVrch { background-image: url('undermenu-top.png');
  width: 227px; height: 9px; padding:0; }
.menu .submenuSpod { background-image: url('undermenu-bottom.png');
  width: 227px; height: 9px; padding:0; }

/*
.menu a, .menuhorizont a {
  color: #000;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  float: left;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  padding: 0px;
  margin: 0px;
  width: 259px;
  height: 26px;
  display: block;
  background-image: url('menu.gif');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  font-weight: bold;
  overflow: hidden;
}

.menu ul li a span {
  position: relative;
  left: 16px;
  top: 5px;
}

.menu ul li a:hover {
  background-image: url('menu.gif');
  background-repeat: no-repeat;
  background-position: 0px -52px;
  color: #ab0000;
}

.menu ul .aktivni a {
  background-image: url('menu.gif');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  color: #ab0000;
}

.menu ul ul {
  margin-left: 16px;
  =margin-left: 8px;
  background-image: url('undermenu-background.gif');
  background-repeat: repeat-y;;
  float: left;
}

.menu ul ul li {
  float: left;
  margin: 0px;
  line-height: 15px;
  padding-left: 8px;
}


.menu ul .aktivni ul li a {
  background-image: none;
  padding-left: 13px;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  color: #000000;
}

.menu ul ul li a {
  background-image: none;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  height: 19px;
}

.menu ul ul li a span {
  font-size: 90%;
  position: relative;
  top: 1px;
}

.menu ul ul li a:hover{
  background-position: 0px 2px;
  background-repeat: no-repeat;
  background-image: url('gc.gif');
  color: #ab0000;
}

.menu ul ul li.aktivni a{
  background-position: 0px 2px;
  background-repeat: no-repeat;
  background-image: url('gc.gif');
  color: #ab0000;
}

.menu_zacatek {
  width: 227px;
  height: 9px;
  float: left;
  background-image: url('undermenu-top.gif');
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  overflow: hidden;
  margin-left: 16px;
  =margin-left: 8px;
}

.menu_konec {
  width: 227px;
  height: 9px;
  float: left;
  background-image: url('undermenu-bottom.gif');
  margin-bottom: 2px;
  overflow: hidden;
  margin-left: 16px;
  =margin-left: 8px;
}

.menu .menu_zacatek, .menu .menu_konec {
  display: none;
}

.menu ul .menu_zacatek, .menu ul .menu_konec {
  display: block;
}
*/

.side .nadpis {
  width: 180px;
  height: 20px;

  background-image: url('right-top.png');
  padding-left: 16px;
  padding-right: 9px;
  padding-top: 6px;
  text-align: center;
  font-weight: bold;
}

.side .obsah {
  width: 175px;
  height: 133px;
  background-image: url('right-bottom.png');
  padding: 9px 16px;
}

.side .obsah .ram {
  width: 169px;
  height: 126px;
  float: left;
  background-image: url('obrazek.gif');
  padding: 3px;
}

/*.side .obsah a img {
  border: none;
  width: 169px;
  height: 126px;
  float: left;
}*/

.side .side_registrace {
  padding-left: 7px;
}

.side .side_registrace .podnadpis {
  font-weight: bold;
  padding-bottom: 1px;
}

.side .side_registrace p {
  padding-bottom: 2px;
  font-size: 90%;
}

.side .side_registrace p .posun {
  position: relative;
  top: -3px;
}
.side .side_registrace p .posun a {
  text-decoration: underline;
}

.side .side_registrace p .posun a:hover {
  text-decoration: none;
}

.bok {
  width: 221px;
  float: left;
}


.bok-top2 {
  width: 249px;
  height: 83px;
  float: left;
  background-image: url('minihra.png');
  padding: 0px;
  text-align: center;
}
.login .bok-top2 {
  width: 203px;
  height: 38px;
  padding: 6px 10px 0px 10px;
  background-image: url('head.png');
}

.bok-top2 a, .bok-top2 span {
  font-size: 90%;
  text-decoration: none;
  position: relative;
  top:-2px;
}

.bok-top2 a:hover {
  text-decoration: underline;
}

.bok-top2 strong {
  position: relative;
  top: 6px;
  font-size: 130%;
  color: #777;
}

.uzivatel {
  width: 181px;
  height: 69px;
  color: #777;
  float: left;
  background-image: url('uzivatel.gif');
  padding: 7px 0px 0px 11px;
  font-size: 100%;
  margin-left: 15px;
}

.uzivatel .odkazy {
  position: relative;
  top: -3px;
}

.uzivatel .avatar {
  width: 65px;
  height: 72px;
  float: left;
  position: relative;
  top:-1px;
}

.uzivatel .avatar img {
  border: 1px solid #CFBEB2;
}

.uzivatel a {
  font-size: 100%;
  color: #777;
  text-decoration: none;
}

.uzivatel a:hover {
  text-decoration: underline;
}

.bok-top {
  width: 221px;
  height: 12px;
  float: left;
  background-image: url('top-bok-top.gif');
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.bok-middle {
  width: 205px;
  float: left;
  background-image: url('top-bok-middle.gif');
  background-repeat: repeat-y;
  margin: 0px;
  padding-left: 16px;
}
.bok-bottom {
  width: 221px;
  height: 12px;
  float: left;
  background-image: url('top-bok-bottom.gif');
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.galerie {
  clear: both;
  padding-left: 5px;
}
.galerie a {
  border: none;
}
.galerie a img {
  border: 2px solid #DDCDC2;
}

.forum_prispevek {
  float: left;
  width: 480px;
  border: 1px solid #682900;
  margin-bottom: 3px;
}

.forum_prispevek .hlavicka {
  float: left;
  width: 470px;
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid #682900;
  background-color: #682900;
  color: #CFBEB2;
}

.forum_prispevek .jmeno {
  float: left;
  width: 270px;
  font-weight: bold;
}

.forum_prispevek .jmeno .od {
  font-weight: normal;
}

.forum_prispevek .datum {
  float: left;
  width: 200px;
  text-align: right;
}

.forum_prispevek .telo {
  float: left;
  width: 470px;
  padding: 0px 5px 0px 5px;

}

.forum_strankovani {
  float: left;
  width: 480px;
  text-align: center;
}

.forum_reagovat {
  float: left;
  width: 480px;
  border: 1px solid #ab0000;
  margin: 10px 0px 10px 0px;
}

.forum_reagovat .nadpis{
  color: #000000;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
}

.forum_reagovat .napis{
  color: #000000;
  font-weight: normal;
  padding-left: 10px;
  width: 400px;
  float: left;
  margin-top: 10px;
}

.forum_reagovat_radek{
  float: left;
  width: 460px;
  =padding-bottom: 3px;
}

.forum_reagovat_input input{
  float: left;
  width: 198px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  height: 20px;
  margin: 1px 0px 3px 0px;
  padding-top: 2px;
}

.forum_reagovat_input div {
  float: left;
  color: #000000;
  padding-left: 15px;
  width: 70px;
  height: 20px;
}

.forum_reagovat textarea {
  float: left;
  margin: 10px;
  margin-top: 0px;
  =margin-left: 5px;
  width: 460px;
  height: 100px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 1em;

}

.forum_reagovat .text {
  float: left;
  width: 350px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
}

.buttonky {
  float: left;
  padding-left: 160px;
  width: 320px;
}

.btn_forum {
  background-color: #682900;
  color: #CFBEB2;
  padding: 2px 5px 4px 5px;
  border: 1px solid #000;
  height: 22px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 0.75em;
  float: left;
  margin: 0px 0px 5px 5px;
}

.forum_vypis {
  border: 1px solid #682900;
  border-bottom: none;
  float: left;
  width: 460px;
  margin: 10px;
  =margin-left: 5px;
}

.forum_vypis_radek {
  float: left;
  width: 460px;
  border-bottom: 1px solid #682900;
  font-weight: bold;
  color: #000;
  height: 40px;
  line-height: 40px;
}

.forum_vypis_radek a {
  display: block;
  width: 440px;
  height: 100%;
  color: #682900;
  text-decoration: none;
  padding: 5px 0px 5px 20px;
  height: 30px;
}

.forum_vypis_radek a:hover {
  background-color: #682900;
  color: #CFBEB2;
}
.forum_vypis_radek a img {
  border: none;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.forum_vypis_radek a span {
  position: relative;
  top: -4px;
}

.registrace_radek {
  float: left;
  width: 330px;
  padding-left: 75px;
}

.registrace_radek a {
  text-decoration: underline;
}

.registrace_radek a:hover {
  text-decoration: none;
}

.registrace_popis {
  float: left;
  width: 125px;
  text-align: left;
  margin: 5px 5px 0px 0px;
}

.registrace_input {
  float: left;
  width: 200px;
}

.registrace_input input{
  float: left;
  width: 195px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  height: 20px;
  =margin: 3px 0px 3px 0px;
  padding-top: 2px;
  padding-left: 3px;
}

.registrace_select{
  border: 1px solid #D0CDCD;
  background-color: #f0f0f0;
  height: 20px;
}

.registrace_select2{
  border: 1px solid #ab0000;
  background-color: #f0f0f0;
  height: 24px;
  padding: 0;
  margin: 0;
}

.registrace_textarea textarea {
  float: left;
  margin: 10px;
  margin-top: 0px;
  =margin-left: 5px;
  width: 307px;
  height: 100px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;

  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  font-size: 1em;
  padding-left: 3px;
}

.registrace_radek_p {
  float: left;
  width: 460px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  margin-bottom: 10px;
  margin-top: 10px;
}

.chyba_ramecek {
  float: left;
  width: 401px;
  border: 2px solid #ab0000;
  background-image: url('forum/kostka_cervena.gif');
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-color: #f0f0f0;
  padding: 5px 10px 5px 65px;
  line-height: 160%;
  font-weight: bold;
  min-height: 20px;
  margin-bottom: 10px;

}

.forum_vlakna {
  float: left;
  width: 480px;
  border-bottom: 3px solid #7f0000;
  margin-bottom: 5px;
}

.forum_vlakna .hlavicka {
  float: left;
  width: 480px;
  background-image: url('forum/hlavicka.gif');
}

.forum_vlakna .hlavicka div {
  float: left;
  color: #fff;
  text-align: center;
  padding-top: 3px;
}

.forum_vlakna .ohraniceni {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
  float: left;
  width: 474px;
  min-height: 48px;
}

.forum_vlakna .radek1v_2 {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #e1e1e1;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: url('forum/separator4.gif');
  background-repeat: repeat-y;
}

.forum_vlakna .radek0v_2 {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #f7f7f7;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: url('forum/separator3.gif');
  background-repeat: repeat-y;
}

.forum_vlakna .radek1 {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #e1e1e1;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: url('forum/separator1.gif');
  background-repeat: repeat-y;
}

.forum_vlakna .radek1_prispevky {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #e1e1e1;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: none;
}

.forum_vlakna .radek1_org_prispevky {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #e1e1e1;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: url('forum/forum_org_sede.gif');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.forum_vlakna .radek0 {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #f7f7f7;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: url('forum/separator2.gif');
  background-repeat: repeat-y;
}

.forum_vlakna h1 {
  font-weight: bold;
  font-size: 160%;
  border: none;
  margin: none;
  padding: none;
}

.forum_vlakna h2 {
  font-weight: bold;
  font-size: 130%;
  border: none;
  margin: none;
  padding: none;
}

.forum_vlakna .cervena {
  color: #ab0000;;
}

.forum_vlakna .radek0_prispevky {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #f7f7f7;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: none;
}

.forum_vlakna .radek0_org_prispevky {
  float: left;
  width: 474px;
  min-height: 50px;
  background-color: #f7f7f7;
  border-left: 3px solid #542300;
  border-right: 3px solid #542300;
  background-image: url('forum/forum_org_bile.gif');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.forum_vlakna .radek0 .separator {
  background-image: url('forum/forum_separator_svetlejsi.gif');
  background-repeat: no-repeat;
  background-position: 0px 50%;
  text-align: center;
}

.forum_vlakna .radek1 .separator {
  background-image: url('forum/forum_separator.gif');
  background-repeat: no-repeat;
  background-position: 0px 50%;
  text-align: center;
}

.forum_vlakna .stary {
  background-image: url('forum/kostka_seda.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 50px;
}

.forum_vlakna .novy {
  background-image: url('forum/kostka_cervena.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 48px;
}

.forum_vlakna .radek0 div, .forum_vlakna .radek1 div, .forum_vlakna .radek1v_2 div, .forum_vlakna .radek0v_2 div, .radek0_org div, .radek1_org div {
  float: left;
  color: #000;
  text-align: center;
}

.forum_vlakna .druhy_radek {
  position: relative;
  top: -8px;
  font-size: 95%;
}

.avatar_zobraz {
  width: 70px;
  height: 60px;
  text-align: left;
  padding: 5px 0px 0px 5px;
}

.avatar_zobraz img {
  margin: 0px;
  padding: 0px;
  border: 1px solid #CFBEB2;
}

.podpis {
  text-align: right;
}

.organizatori {
  width: 480px;
  float: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #e1e1e1;
}

.organizatori .jmeno {
  width: 480px;
  float: left;
  font-weight: bold;
  font-size: 120%;
  margin-top: 15px;
  color: #000;
}

.organizatori .foto {
  margin: 5px 0px 0px 0px;
  width: 100px;
  float: left;
}

.organizatori .foto img {
  width: 90px;
  height: 129px;
  border: 1px solid #ab0000;
}

.sponzori_ohraniceni {
  clear: both;
  width: 730px;
  float: right;
  margin-bottom: 10px;
  font-weight: bold;
}

.sponzor {
  float: left;
  margin-right: 6px;
  text-align: center;
}

.sponzor a {
  color: #d0d0d0;
  font-weight: normal;
  display: block;
  margin-bottom: 4px;
}

.sponzor a img {
  border: 0px solid #fff;
  padding: 0px;
  margin: 0px;
}

.pjove {
  width: 480px;
  float: left;
}

.pjove .staty {
  width: 100px;
  float: left;
}

.pjove .staty .radek {
  width: 100px;
  height: 22px;
  float: left;
}

.pjove .staty .radek img {
  float: left;
  margin: 1px;
}

.pjove .staty .text {
  width: 100px;
  height: 16px;
  float: left;
  font-weight: bold;
}

.pjove .popis {
  width: 380px;
  float: left;
}

.postavy_radek {
  width: 400px;
  float: left;
  min-height: 30px;
}

.postavy_zbran1 {
  width: 300px;
  float: left;
  font-weight: bold;
}

.postavy_zbran1 input{
  float: left;
  width: 300px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  height: 20px;
  =margin: 3px 0px 3px 0px;
  padding-top: 2px;
  padding-left: 3px;
}

.postavy_zbran2 {
  width: 33px;
  float: left;
  font-weight: bold;
  text-align: center;
}

.postavy_zbran2 input{
  float: left;
  width: 33px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  height: 20px;
  =margin: 3px 0px 3px 0px;
  padding-top: 2px;
  padding-left: 3px;
}

.postavy_zbran3 {
  width: 235px;
  float: left;
  font-weight: bold;
}

.postavy_zbran3 input{
  float: left;
  width: 235px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  height: 20px;
  =margin: 3px 0px 3px 0px;
  padding-top: 2px;
  padding-left: 3px;
}

.postavy_textarea textarea{
  float: left;
  width: 400px;
  height: 170px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 90%;
}

.postavy_vlastnost {
  width: 180px;
  float: left;
  font-size: 120%;
  font-weight: bold;
}

.postavy_hodnota {
  width: 150px;
  float: left;
  font-size: 120%;
  font-weight: bold;
}

.ankety_otazka {
  font-weight: bold;
  font-size: 110%;
  padding: 15px 10px 5px 10px;
}

.ankety_odpoved {
  padding: 0px 5px 5px 5px;
}

.ankety_radio {
  margin-right: 6px;
  margin-left: 5px;
}

.ankety_check {
  margin-right: 6px;
  margin-left: 5px;
}

.ankety_textarea {
  width: 450px;
  height: 100px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 1em;
}

.ankety_radio_textarea {
  width: 450px;
  height: 100px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 80%;
}

.ankety_check_textarea {
  width: 450px;
  height: 100px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 80%;
}

.ankety_check_edit {
  width: 250px;
  height: 20px;
  margin-left: 25px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
}

.ankety_radio_edit {
  width: 250px;
  height: 20px;
  margin-left: 25px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
}

.ankety_textarea_small {
  width: 450px;
  height: 45px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 1em;
}

.ankety_radio_textarea_small {
  width: 450px;
  height: 45px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 1em;
}

.ankety_check_textarea_small {
  width: 450px;
  height: 45px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 1em;
}

.ankety_textarea_mini {
  width: 200px;
  height: 20px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 1em;
}

.ankety_radio_textarea_mini {
  width: 200px;
  height: 20px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 1em;
}

.ankety_check_textarea_mini {
  width: 200px;
  height: 20px;
  background-image: url('top-form-background.gif');
  background-repeat: repeat-x;
  background-color: #f0f0f0;
  border: 1px solid #ab0000;
  =margin: 3px 0px 3px 0px;
  margin: 0px 0px 0px 5px;
  padding-top: 2px;
  padding-left: 3px;
  overflow: auto;
  font-size: 1em;
}

.stare_upozorneni {
  color: #808080;
  font-weight: bold;
}

/*-------------------------------STRUKTUROVANÉ--------------------------------*/

/* Univerzální */
.obalkaObrazku { /* width: 172px; */ height: 126px;
  background-image:url('obrazek.png'); padding: 3px ;
 background-size: 100% 100%; }
.obalkaObrazku img { margin:0 0 -6px 0; border: 0; width: 169px; height: 126px; }
.obalkaObrazku .overlay { position: absolute; z-index: 10;
  width: 169px; height: 126px; text-align:center;
  font: bold 14px Verdana;
  background-image:url('obrazek-hranice.png'); }
.obalkaObrazku .text { color: #fff; position: absolute; bottom: 16px;
  width: 169px; text-align:center;
  text-shadow:
    #000 -2px -2px 1px,
    #000 -2px -1px 0,
    #000 -2px  0px 0,
    #000 -2px  1px 0,
    #000 -2px  2px 1px,
    #000  0px -2px 0,
    #000  0px -1px 0,
    #000  0px  0px 0,
    #000  0px  1px 0,
    #000  0px  2px 0,
    #000  2px -2px 1px,
    #000  2px -1px 0,
    #000  2px  0px 0,
    #000  2px  1px 0,
    #000  2px  2px 1px;
  /* IE */ filter: glow(color=#000000,strength=6); }
.chybaBlok { position: absolute; text-align: center; width: 480px;
  margin-top: -23px; }
.chyba { background-color: #ff0; display: inline;
  background-color: rgba(255,255,0,0.75);
  color: #f00; padding: 5px 10px;
  border-radius: 5px; font-weight: bold; }
.chyba.oznameni { background-color: rgba(0,192,0,0.5); color: #040; }
.socNahled { position: absolute; display: none; } /* náhled pro sociální sítě. Note: rezervovaný název, který se programově zpracovává */
input.blur { color: #888; } /* jQuery hint plugin */
.main-middle-in em { font-weight: bold; font-style: normal; }
.main-middle-in p a img { border: 2px solid #DDCDC2; }
.hinted { border-bottom: dotted 1px; cursor: default; }
.hinted .hint { display: none; position: absolute; z-index: 100; }
.hinted .hint a { color: #f22; }
.hinted:hover .hint { display: block; background-color: rgba(0,0,0,0.8);
  max-width: 200px; color: #fff; padding: 8px; margin-top: -1px;
  font-weight: normal; line-height: 130%; }

/* Archiv */
.archiv .hlavicka { border-collapse: collapse; margin-bottom: 8px; }
.archiv .hlavicka td { vertical-align: top; padding-right: 10px; }
.archiv .hlavicka img { border: solid 1px #bbb; padding: 2px; }

/* Aktivita */
.aktivita .hlavicka { margin-bottom: 6px; }
.aktivita .hlavicka td { vertical-align: top; }
.aktivita .hlavicka h2 { font: inherit; margin: inherit; border: inherit;
  font-weight:bold; font-size:120%; margin-top: 6px; }
.aktivita .hlavicka h2:first-child { margin-top: 0; }
.aktivita .hlavicka form { position:absolute; }
.aktivita .hlavicka .m { color: #08c; }
.aktivita .hlavicka .f { color: #e0d; }
.aktivita .obalkaObrazku { margin-right: 6px; }
.aktivita .informace { margin: -5px 0 0 -5px; text-align: left; width: 305px; }
.aktivita .informace td:first-child { font-weight: bold; width: 85px; }
.aktivita .seznam { float: left; min-width: 85px;
  background-color: rgba(199,199,199,0.5); padding: 5px 10px; margin: 5px; border-radius: 10px; } /* seznam lidí pro Impérium */
.aktivita .neprihlasovatelna { color: #888; }
.aktivita > div em { font-weight: normal; font-style: italic; }

/* Horizontální menu */
.menuhorizont{ width:1000px; height:33px; background-image:url('main-menu.gif');
  background-repeat: no-repeat; float: left;}
.menuhorizont ul { padding: 0 0 0 20px;  margin: 1px;}
.menuhorizont ul li { padding: 0 2px; margin: 3px 0 0 -2px; list-style:none outside none;
  display:inline-block; background-image: url('oddel-top.png');
  background-repeat: no-repeat; background-position: top right; float: left; }
.menuhorizont ul li a { font-size:120%; line-height: 32px; font-weight:bold;
  text-decoration:none; background-image: url('menu-top-bg.png');
  display: inline-block; height: 32px; margin:-3px 0 0 0; padding: 0 20px;
  color: #000; }
.menuhorizont ul li a img { margin-bottom: -3px; margin-left: -10px; border: 0; }
.menuhorizont ul li a:hover { color:#ab0000; background-position: bottom left;}
.menuhorizont .pravaCast { float: right; margin-right: 26px; }

/* Formuláře */
.gcForm input.blur { color: #666; } /* jQuery hint plugin */
.gcForm input { border: solid 1px #ab0000; height: 20px; padding: 0 5px;
  background-image: url('top-form-background.gif'); }
.gcForm input[type=submit] { border: none; color: #fff; height: 26px; width: 88px;
  background-image: url('tlacitka/tlacitko-obecne.png'); cursor: pointer; }
/* */
form.obecny input[type=submit] { padding: 5px; }
form.obecny input[type=text], form.obecny input[type=password], form.obecny select {
  padding: 4px 6px; }
form.obecny .plus { background-color: #2a2; color: #fff; text-decoration: none;
  font-weight:bold; padding: 2px 4px;
  border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
form.obecny .minus { background-color: #a33; color: #fff; text-decoration: none;
  font-weight:bold; padding: 2px 6px; margin-right: -2px;
  border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
form.obecny .plus:hover, form.obecny .minus:hover { opacity: 0.8; }
form.obecny .minus.neaktivni { background-color: #888; cursor: default; }

/* Organizátoři */
.str48 img { float: left; border: 2px solid #DDCDC2; margin: 14px 8px 14px 0; }
.str48 h2 { border-top: 2px solid #e1e1e1; border-bottom: none; padding-top: 14px; margin-bottom: -8px; margin-top: 8px; clear: both; font-size: 15px; }

/* Registrace */
.registrace .pokyn { float: right; width: 240px; }
.registrace input[type="text"], .registrace input[type="password"], .registrace select {
  display: block; margin-bottom: 2px; width: 210px; padding: 4px 6px;
  /*
  background: -webkit-linear-gradient(top, #eaeaea, #fff);
  border: solid 1px #aaa;
  */
  }
.registrace input[type=submit] { padding: 5px; }
.registrace select { margin: 0 0 1px 0; width: 226px; }
.registrace label { color: #999; }
.registrace :checked + label { color: #000; }
.registrace .avatar { float: left; margin: -8px 8px 0 0; border: solid 1px #999; }

/* Tabulka předmětů */
table.predmety td { padding: 1px 5px; }
table.predmety td:first-child { padding-left:0; }

/* Nováčci a přidej se */
.menu .novacek, .menu .cthulu { display: block; margin: 1px 0 0 3px;
  width: 250px; height: 83px; line-height: 90px; text-align: center;
  color: #fff; font-weight: bold; font-size: 14px;
  text-shadow: #000 -2px -2px 1px, #000 -2px -1px 0, #000 -2px  0px 0, #000 -2px  1px 0, #000 -2px  2px 1px, #000  0px -2px 0, #000  0px -1px 0, #000  0px  0px 0, #000  0px  1px 0, #000  0px  2px 0, #000  2px -2px 1px, #000  2px -1px 0, #000  2px  0px 0, #000  2px  1px 0, #000  2px  2px 1px;
  }
.menu .novacek:hover, .menu .cthulu:hover { -webkit-filter: saturate(200%) brightness(110%); color: #f44; }
.menu .cthulu { background-image:url('/files/styly/obecne/cthulu.png'); line-height: 70px; }
.menu .novacek { background-image:url('/files/styly/obecne/dite.png'); }

/* Minihra */
.minihra { text-align:left; position: relative; margin-bottom: 20px; }
.minihra .ukol { background-color: rgba(199,199,199,0.5); width: 200px; padding: 15px; margin-bottom: 0px; border-radius: 10px; }
.minihra .ukol:nth-child(even) { margin-left: 250px; }
.minihra .ukol.skryty { padding: 30px 40px; width: 150px; font-size: 40px; }
.minihra .ukol > img { margin: 0 0 -2px 0; }
.minihra .milnik { position: absolute; display: block; width: 11px; height: 11px;
  background-color: #ccc; left: 233px; margin: 0px 0 0 0; border: solid 2px #fff;
  border-radius: 20px; z-index: 8; }
.minihra .ukol.splneny .milnik { border: none; background-image: url('/files/styly/obecne/ok.png'); width: 16px; height: 16px; left: 232px; }
.minihra .milnik.posledni { /* background-color: #8c8; */ bottom: -30px; width: 20px; height: 20px; left: 229px; }
.minihra .linka { position: absolute; top: 0; left: 239px; width: 0px; height: 100%; border: solid 1px #ccc; }