
.shop {
  &--container {
    width: 80vw;
    height: 80vh;
  }
  &--close {
    position: absolute;
    top: -25px;
    right: -70px;
    font-size: 2rem;
    background: #fff;
    z-index: 9;
    border-radius: 100%;
    cursor: pointer;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E22630;
  }
}

