.program_hlavicka {
  background: url('../blackarrow/program/hlavicka.jpg') no-repeat;
  background-size: 100% auto;
  padding: 0 140rel;
  overflow: hidden;
  margin-bottom: 50rel;

  @media (max-width: 800px) {
    padding: 0 20px;
  }
}

.program_hlavicka>h1 {
  color: #10111A;
  font-size: 80rel;
  margin: 58/19.2vw 0;

  @media (max-width: 800px) {
    font-size: 32px;
    margin: 20px 0;
  }
}

.program_dny {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px; // pro mobil
  width: 100%;
}

.program_den,
.program_filtry_tlacitko {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-decoration: none;
  color: inherit;

  display: block;
  width: 156px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #fff;
  border: solid 1px #FDC689;

  @media (max-width: 1200px) {
    margin: 0 10px 10px 0;
    width: 130px;
    flex-grow: 1;
  }
}

.program_den:not(:last-child) {
  margin-right: 16px;
}

.program_den:hover,
.program_filtry_tlacitko:hover {
  border-color: #E22630;
}

.program_den-aktivni, .program_filtry_tlacitko.aktivni {
  color: #fff;
  background-color: #E22630;
  border-color: #E22630;
}

.program_tisk {
  background: url('../blackarrow/program/sponka.svg') no-repeat;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  padding-left: 30px;
  text-decoration: none;
  color: inherit;
  display: block;

  float: right;
  margin-top: 100rel; // podobně jak nadpis

  &:hover {
    text-decoration: underline;
  }
}


.program_legenda {
  outline: 1px solid #eee;
  margin-top: -20px;
  margin-bottom: 20px;
}

.program_legenda {
  display: flex;
  background: #fff;
  margin: -1.5vw 7.292vw 20px;
  flex-wrap: wrap;
  padding: 11px 1px 5px;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.2);
}

.program_legenda_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.informaceSpustime,
.program_legenda_typ {
  padding-left: 23px;
  padding-right: 11px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 31px;
  height: 28px;
  margin-bottom: 6px;
  display: block;
}

:root {
  --program-barva-otevrene: #CDF2D9;
  --program-barva-otevrene-pruhledna: #CDF2D900;
  --program-barva-vDalsiVlne: #FCBCBC;
  --program-barva-vDalsiVlne-pruhledna: #FCBCBC00;
  --program-barva-vBudoucnu: #FFECEC;
  --program-barva-vBudoucnu-pruhledna: #FFECEC00;
  --program-barva-plno: #F5F5F5;
  --program-barva-plno-pruhledna: #F5F5F500;
  --program-barva-prihlasen: #65D161;
  --program-barva-prihlasen-pruhledna: #65D16100;
  --program-barva-nahradnik: #E5E891;
  --program-barva-nahradnik-pruhledna: #E5E89100;
  --program-barva-organizator: #7EA5FF;
  --program-barva-organizator-pruhledna: #7EA5FF00;
}

.program_legenda_typ {
  user-select: none;
  cursor: pointer;

  &--checkbox[type=checkbox] {
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 28px;
    overflow: hidden;
    margin-top: -3px;
    content: "";
    margin-right: 12px;
    vertical-align: middle;
    cursor: pointer;

    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 10 10'%3E%3Crect width='10' height='10' rx='1' transform='translate(0 0)' fill='none' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-color: var(--program-barva-otevrene);

    &:checked {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 10.698 8.288'%3E%3Cpath id='Path_2669' data-name='Path 2669' d='M7283.8,702.841l3.117,3.117,6.167-6.167' transform='translate(-7283.093 -699.085)' fill='none' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center center;
    }
  }

  &.otevrene input[type=checkbox] {
    background-color: var(--program-barva-otevrene);
  }

  &.vDalsiVlne input[type=checkbox] {
    background-color: var(--program-barva-vDalsiVlne);
  }

  &.vBudoucnu input[type=checkbox] {
    background-color: var(--program-barva-vBudoucnu);
  }

  &.plno input[type=checkbox] {
    background-color: var(--program-barva-plno);
  }

  &.prihlasen input[type=checkbox] {
    background-color: var(--program-barva-prihlasen);
  }

  &.nahradnik input[type=checkbox] {
    background-color: var(--program-barva-nahradnik);
  }

  &.organizator input[type=checkbox] {
    background-color: var(--program-barva-organizator);
  }

}

.program tbody td>div {
  background-color: var(--program-barva-otevrene);
}

.program tbody .otevrene,
.program_legenda_typ.otevrene::before {
  background-color: var(--program-barva-otevrene)
}

.program tbody .vDalsiVlne,
.program_legenda_typ.vDalsiVlne::before {
  background-color: var(--program-barva-vDalsiVlne);
}

.program tbody .vBudoucnu,
.program_legenda_typ.vBudoucnu::before {
  background-color: var(--program-barva-vBudoucnu);
}

.program tbody .plno,
.program_legenda_typ.plno::before {
  background-color: var(--program-barva-plno);
}

.program tbody .prihlasen,
.program_legenda_typ.prihlasen::before {
  background-color: var(--program-barva-prihlasen);
}

.program tbody .sledujici,
.program_legenda_typ.sledujici::before {
  background-color: var(--program-barva-nahradnik);
}

.program tbody .organizator,
.program_legenda_typ.organizator::before {
  background-color: var(--program-barva-organizator);
}



.program td:not([rowspan]) > .kompaktni {
  height: 34px;
  padding: 2px;
  display: flex;
  align-items: center ;

  > a {
    position: relative;
    white-space: nowrap;
    min-height: unset;
    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

:root {
  --popis-doztracena-mezibod: 18px;
  --popis-doztracena-bod: 30px;
}

.program td:not([rowspan]) > .kompaktni {
  > a::after { background: linear-gradient(to left, var(--program-barva-otevrene), var(--popis-doztracena-mezibod), var(--program-barva-otevrene-pruhledna) var(--popis-doztracena-bod)); }
  &.vDalsiVlne > a::after { background: linear-gradient(to left, var(--program-barva-vDalsiVlne), var(--popis-doztracena-mezibod), var(--program-barva-vDalsiVlne-pruhledna) var(--popis-doztracena-bod)); }
  &.vBudoucnu > a::after { background: linear-gradient(to left, var(--program-barva-vBudoucnu), var(--popis-doztracena-mezibod), var(--program-barva-vBudoucnu-pruhledna) var(--popis-doztracena-bod)); }
  &.plno > a::after { background: linear-gradient(to left, var(--program-barva-plno), var(--popis-doztracena-mezibod), var(--program-barva-plno-pruhledna) var(--popis-doztracena-bod)); }
  &.prihlasen > a::after { background: linear-gradient(to left, var(--program-barva-prihlasen), var(--popis-doztracena-mezibod), var(--program-barva-prihlasen-pruhledna) var(--popis-doztracena-bod)); }
  &.nahradnik > a::after { background: linear-gradient(to left, var(--program-barva-nahradnik), var(--popis-doztracena-mezibod), var(--program-barva-nahradnik-pruhledna) var(--popis-doztracena-bod)); }
  &.organizator > a::after { background: linear-gradient(to left, var(--program-barva-organizator), var(--popis-doztracena-mezibod), var(--program-barva-organizator-pruhledna) var(--popis-doztracena-bod)); }
}

.program_legenda_typ.vDalsiVlne::before {
  opacity: 1;
}

.program_legenda_typ.vBudoucnu::before {
  opacity: 1;
}

.program_legenda_typ.plno::before {
  opacity: 0.5;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2)
}

.program_legenda_typ.prihlasen::before {
  opacity: 1;
}

.program_legenda_typ.sledujici::before {
  opacity: 1;
}

.program_legenda_typ.organizator::before {
  opacity: 1;
}

.informaceSpustime {
  align-self: flex-start;
  flex: 1 1 auto;
}

.informaceSpustime>p {
  display: inline;
}

.program_legenda_inner {
  align-self: flex-end;
  flex: 0 1 auto;
}


.program_legenda_typ.organizator {
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .program_legenda {
    padding: 10px 0 3px 8px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -24px;
  }

  .informaceSpustime {
    padding: 4px 4px 0;
    line-height: 12px;
  }

  .program_legenda_typ {
    flex: 1 1 25%;
    line-height: 21px;
    padding: 0px 14px 1px 4px;
    margin-bottom: 0;
  }

  .program_legenda_typ::before {
    font-size: 20px;
    margin-top: -3px;
    margin-right: 10px
  }
}

/* oprava zobrazeni odhlasit na stejnem radku */
.program td>div>form {
  display: inline-block !important;
  padding-right: 3px;
}

.program td:first-of-type div.program_nazevLinie {}

.program a.programNahled_odkaz[href*="/legendy"]~.program_osobniTyp::before {
  content: "Legendy";
  display: inline-block;
  margin-right: 200px;
}

.program a.programNahled_odkaz[href*="/drd"]~.program_osobniTyp::before {
  content: "mDrD";
  display: inline-block;
  margin-right: 200px;
}

.program a.programNahled_odkaz[href*="/bonusy"]~.program_osobniTyp::before {
  content: "Akční hry";
  display: inline-block;
  margin-right: 200px;
}

.program a.programNahled_odkaz[href*="/epic"]~.program_osobniTyp::before {
  content: "Epiky";
  display: inline-block;
  margin-right: 200px;
}

.program td div.prihlasen,
.program td div.sledujici,
.program td div.organizator {
  position: relative;
}

.program .sledujici form a:before {
  content: "zrušit sledování";
  display: inline-block;
  font-size: 12px;
}

.program .sledujici form a {
  display: inline-block;
  white-space: nowrap;
  width: 0;
  height: 12px;
  font-size: 0;
}

.program .program_osobniTyp {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  border-left: none;
  white-space: nowrap;
  text-indent: 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.program .programNahled_odkaz~form~b {
  padding-left: 8px;
}

.program td .programNahled_odkaz {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 85px;
  display: -webkit-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.program .program_osobniTyp::before {
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  transform: rotate(90deg);
  transform-origin: left top;
  left: 100%;
  top: 0;
  margin-top: 2px;
  text-indent: 0;
}

.program .programNahled_odkaz~form~form {
  padding: 2px 5px 4px;
  box-shadow: 6px 7px 7px 0 rgba(0, 0, 0, 0.15);
  position: absolute !important;
  top: 100%;
  left: 0;
}

.program_dny .program_filtry_tlacitko {
  margin-left: auto;
  margin-right: 16px;
}

.program_filtry {
  &_tlacitko {
    margin-left: 8px;
  }

  &_container {
    &_otevreno {
      visibility: unset ;
      position: unset;
      top: 0;
      left: 0;
    }

    visibility: hidden;
    position: fixed;
    top: 30000;
    left: 30000;

    background-color: white;
    padding: 11px 1px 5px;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.2);

    margin-top: 12px;
    z-index: 1;
    top: 100%;
    right: 0;
    padding: 12px;

    right: 0;
  }
}

// TODO: important odebrat upravit css v GC
.program_hlavicka {
  overflow: visible !important;
  padding-top: 0.67em !important;
}

.programNahled_obalProgramu {
  &-zvetseny {
    position: fixed;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
    display: block;
  }
}

.modalOdhlasit {
  &_obal {
    position: fixed;
    z-index: 21;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 40vh;
  }

  button, input[type="submit"] {
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .15em;
    text-decoration: none;
    display: block;
    width: 156px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background-color: #e22630;
    border-color: #e22630;
    cursor: pointer;
    margin-left: 8px;
  }

  button {
    color: inherit;
    background: #fff;
    border: solid 1px #FDC689;
  }

  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: min(80%, 50em);
}
