/google_api_client_secret*.json
/google-api-client-secret.json

/nastaveni-beta.php
/nastaveni-ftpdeploy.php
/nastaveni-local.php
/nastaveni-nasazovani.php
/nastaveni-produkce.php
/nastaveni-redesign.php
/nastaveni-blackarrow.php
/nastaveni-jakublounek.php
