// hlavička

.aktivity_hlavickaObal {
    background: url('../blackarrow/aktivity/hlavicka.svg') no-repeat 1.5vw 100% ~'/' 97% auto;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26/16;

    @media (max-width: 600px) {
        background:
            url('../blackarrow/aktivity/hlavicka.svg') no-repeat 0 100% ~'/' 100% auto,
            linear-gradient(to bottom, #f6f1ea 50%, #fff 50%);
        overflow: hidden;
    }
}

.aktivity_hlavicka {
    padding: 55px 0 4vw 0;
    width: 1600px;
    max-width: 90%;
    margin: auto;
    position: relative;

    h1 {
        font-size: 80rel;
        margin: 0 0 33px 0;
        line-height: normal;
    }

    p {
        margin: 0 0 26px 0;
        max-width: 60%;
    }

    @media (max-width: 600px) {
        padding: 20px 0 4vw;
        p { max-width: 100%; }
    }
}

.aktivity_popisLinie {
    position: relative;
    z-index: 1; // kvůli ikoně pod textem (nejen) na mobilu
}

.aktivity_ikonaLinie {
    position: absolute;
    margin: 0 0 0 75%;
    background: url('../blackarrow/aktivity/flek.png');
    width: 209px;
    height: 206px;

    display: flex;
    justify-content: center;
    align-items: center;
    img { display: block; }

    @media (max-width: 600px) {
        transform-origin: 0 0;
        transform: scale(0.75);
        margin: -20px 0 0 66%;
    }
}


// stránky

.aktivity_stranky {
    width: 1600px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 0.83vw;
    @media (max-width: 600px) {
        max-width: 97%;
        grid-template-columns: 1fr;
    }
}

.aktivity_stranka {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 54px;
    height: 54px;
    background-color: #10111A;
    color: #fff;
    padding: 0 24px;
    position: relative; // kvůli šipce
}

.aktivity_stranka::after {
    content: '';
    display: block;
    position: absolute;
    right: 27px;
    top: 22px;
    width:  8px;
    height: 8px;
    border-bottom: solid 2px #CE232D;
    border-right:  solid 2px #CE232D;
    transform: rotate(-45deg);
    transition: right 0.3s;
}

.aktivity_stranka:hover::after {
    right: 15px;
}


// aktivity

.aktivity_aktivityObal {
    background: url('../blackarrow/aktivity/vlny.svg') no-repeat 96vw 60px;
}

.aktivity_aktivity {
    column-count: 3;
    column-gap: 2%;
    margin: auto;
    width: 1600px;
    max-width: 90%; // na toto je navázaná výška obrázků
    padding: 40px;
    background: url('../blackarrow/aktivity/smouha.jpg') no-repeat 100% 0;
    @media (max-width: 600px) {
        column-count: 1;
        box-sizing: border-box;
        max-width: 100%;
        padding: 40px 1.5%;
    }
}

.aktivity_aktivita {
    display: inline-block; // aby se nezalamovaly do víc sloupců
    box-sizing: border-box;
    width: 100%;
    padding: 0 26px 22px 26px;

    margin-bottom: 38px;
    border: solid 2px #10111A;

    font-size: 13px;
    line-height: 22/13;
}

.aktivity_obrazek {
    display: block;
    margin: 0 -26px 17px;
    width: ~'calc(100% + 52px)';
    height: 512px * 9/16;
    @media (max-width: 1600px) { height: 16.125vw }
    @media (max-width: 600px) { height: 97vw * 9/16 }
}

.aktivity_nazev {
    margin: 0 0 15px 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    max-height: 1.25 * 32px * 2;
    overflow: hidden;
}

.aktivity_vypravec {
    margin-bottom: 12px;
}

.aktivity_stitky {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: -8px;
}

.aktivity_stitek {
    background-color: #F6F1EA;
    font-weight: bold;
    font-size: 11px;
    padding: 6px 12px 5px;
    margin: 0 8px 8px 0;
    letter-spacing: 0.03em;
}

.aktivity_popis {
    padding-bottom: 24px;
    border-bottom: solid 2px #efefef;
    margin-bottom: 21px;
}

.aktivity_termin {
    padding-left: 21px;
    background: url('../blackarrow/aktivity/kalendar.png') no-repeat 0 3px;
    margin-bottom: 3px;
}
