
@sirka:     1000px; // max šířka při širokém zobrazení
@stredni:   ~"(min-width: 550px) and (max-width: 799px)";
@siroke:    ~"(min-width: 800px)";
@sloupm:    3%; // margin sloupců při vícesloupcovém designu

a { color: #06d; text-decoration: none; }
a:hover { text-decoration: underline; }
a[name] { color: inherit; }

hr { border: none; border-top: solid 1px #eee; }

body { margin: 0; font: 14px Open Sans, sans-serif; overflow-y: scroll; line-height: 150%;
  background-image: url('../styl-rocnikovy/pozadi.jpg'); background-color: #c8866c; background-attachment: fixed; background-position: center; background-size: cover; }

.hlavni { max-width: @sirka; margin: 0 auto 40px auto; position: relative; }
.obsah { position: relative; }

.sponzori {
  padding-bottom: 1px;
  p a { font-size: 40px; /* hack pro vyšší klikací plochu odkazu */ }
  p { text-align: center; margin-bottom: -10px; }
  img { margin: 0 5px 10px 5px; vertical-align: bottom; }
  .licence { margin: 2%; color: #666; font-size: 90%; }
}



.blok { box-shadow: 0 0 3px #444; background-color: #fff; margin-top: 20px; }
.pruh { background-color: rgba(0, 0, 0, 0.8); color: #fff; padding: 0.6em; font-size: 120%; }


/* blogy a stránky */
.stranka {
  @tpad: 4.8em; // odsazení prvního odstavce (místo pro nadpis)
  position: relative;
  line-height: 1.6em;
  padding-bottom: 1px; // hack aby i závěrečný margin zůstal "uvnitř bloku"
  img { width: 100%; display: block; }
  p { text-align: justify; margin: 1.6em 0; }
  .obal { // kvůli bugu v webkitu nelze použít padding pro .stranka ale je nutné použít obalovací div a margin
    > h1:first-child, > h2:first-child {
      .pruh;
      margin: 0;
      padding-left: 2%;
      padding-right: 2%;
      width: 96%;
      position: absolute;
      + * { padding-top: @tpad; margin-top: 0; }
      + p > img { margin-top: -@tpad; }
    }
  }
  .autor {
    text-align: right;
    font-style: italic;
    color: #888;
    margin-top: -16px;
    margin-bottom: -4px;
  }
  .poznamka {
    color: #888;
  }
  .seznam-bez-okraje {
    padding-left: 18px;
  }
  @media @siroke {
    .autor { //výpis autora a datumu blogu na konci stránky
      margin-right: -37px;
    }
  }
}

.stranka-mix(@bpad) {
  // mixin starající se o různou šířku okrajů podle parametru aby nebylo potřeba
  // toto rozkopírovávat do různých media queries
  .obal {
    margin: 0 @bpad @bpad*0.75 @bpad;
    > h1:first-child, > h2:first-child {
      margin-left: -@bpad;
      + p > img { width: 10000 / (100 - 2 * @bpad); margin-left: -(100 * @bpad) / (100 - 2 * @bpad); }
    }
  }
}

.stranka {
  .stranka-mix(3%);
}

@media @siroke {
  @sloupw: (100 - 2 * @sloupm) / 3;
  @bpad: 8%;
  .stranka {
    width: 2 * @sloupw + @sloupm;
    .stranka-mix(@bpad);
    // odsazení spodních bannerů napravo od hlavního okna
    + .sloupce { position: absolute; top: 0; right: 0; width: @sloupw; padding: 5px; margin: -5px; padding-bottom: 0; margin-bottom: 0; height: 100%; overflow: hidden; }
    + .sloupce .blok { width: 100%; }
    + .sloupce > .blok:first-child { margin-top: 0; }
  }
}

.blog_obrazek { width: 100%; max-width: 360px; display: block; float: left; }
.blog_nadpis { width: 100%; font-size: 140%; font-weight: bold; }
.blog_info { margin-top: 6px; }
.blog_vice { text-align: center; width: 100%; float: right; margin-bottom: 7px; font-weight: bold;
  &:before { .ikona; display: inline-block; margin-right: 0.2em; color: #06d; }
  & div { border-bottom: dotted 1px; display: inline-block;}
  a { border-bottom: dotted 1px; cursor: pointer; }
  a:hover { text-decoration: none; border-bottom: solid 1px #fff; }
}
.blog_text { clear: both; margin: 0.6em; text-align: justify; }
@media @siroke {
  .blog_text { clear: none; float: right; max-width: 333px; margin: 0.9em 2em 0 0; }
  .blog_obrazek { width: 312px; min-height: 176px; }
}


/* aktivity */
.aktivita { position: relative; min-height: 176px; overflow: hidden; }
.aobr { display: none; }
.ahlav { position: relative; font-size: 100%; float: left; margin: 3% 0% 3% 1.5%; }
.ahlav > h2 { font-size: 140%; margin: 0.5em 0; }
.ahlav {
  a { border-bottom: dotted 1px; cursor: pointer; }
  a:hover { text-decoration: none; border-bottom: solid 1px #fff; }
  .termin  { margin-top: 0.2em; min-width: 142px; .ikona.hodiny; &:before { .ikona; margin-right: 0.3em; } }
  .cena    { float:none !important; line-height: 130%; .ikona.mince;  &:before { .ikona; } }
  .org     { .ikona.clovek; &:before { .ikona; margin-right: 0.1em; } }
}
.drd .ahlav { max-width: none; }
.atym { float: left;
  .tymJmeno { margin-top: 0.2em; .ikona.lide;   &:before { .ikona; margin: 0em 0.2em 0em 0.4em; } }
 }
.akratkypopis { margin: 2% 2.5% 3% 1.5%; text-align: left; overflow: hidden; max-width: 382px; float: right;
  .tag { .ikona.stitek; &:before { .ikona; margin-right: 0.3em; }; margin-right: 0.7em; display: inline-block; float:left; color: #b00; }
}
.astitky { margin-top: 5% ; color: #666; height: 24px; }
.adlouhypopis { display: none; margin: 1% 2.5%; overflow: hidden }
.avice { text-align: center; width: 100%; float: right; margin-bottom: 7px; font-weight: bold;
  &:before { .ikona; display: inline-block; margin-right: 0.2em; color: #06d; }
  a { border-bottom: dotted 1px; cursor: pointer; }
  a:hover { text-decoration: none; border-bottom: solid 1px #fff; }
}
.avice-ikonaDolu { .ikona.dolu; }
.avice-ikonaNahoru { .ikona.nahoru; }
.filtr { form { padding: 4em 2.25% 1em; font-weight: normal; }; select { margin: 0; } }
@media @siroke {
  @sloupw: (100 - 2 * @sloupm) / 3;
  .aobr { height: 176px; width: 312px; display: block; float: left; }
  .akratkypopis { max-width: 328px; margin: 1% 2.5% 0% 1.5%; }
  .avice { width: 688px;
    &:before { margin-left: -36px; }
  }
  .astitky { height: 46px; margin-top: 0.5em; }
  .ahlav { max-width: 305px; margin: 1.5% 0% 0% 1.5%; }
  .ahlav > h2 { left: 0.6em; margin-bottom: 0.5em; margin-top: 0em }
  .ahlav .info { float: left; }
  .ahlav:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
  .atext { padding-left: @sloupw; max-height: 5.8em; margin-top: 1.1em; margin-bottom: 1.4em; }
  .aktivita.drd {
    .atym { float: none;
       // hack pro vytvoření výšky atym divu
       &:after { content: " "; display: block; clear: both; }
       &:last-child { margin-bottom: 1em; }
     }
    .tymJmeno { margin-right: -999px; }
    .termin { clear: both; min-width: 16.5em; }
    .org { min-width: 14em; }
    .cena { clear: both; }
  }
  .filtr { float: right; margin: 0; width: @sloupw; form { padding: 4em 1.5em 1em; } }
}

/* CSS použité mimo stránku aktivity */
.atext { margin: 2% 2.5%; text-align: justify; overflow: hidden; max-height: 8.7em;  }
.atext > :first-child { margin-top: 0; }
.atext > :last-child { margin-bottom: 0; }




.mlist { padding: 0; margin: 0; }
.mlist li { display: block; }
.mlist li > a { display: block; background-image: data-uri('rozcestnik.png'); height: 49px; border-top: 1px solid #fff; border-bottom: 1px solid #ccc; line-height: 49px; text-decoration: none; color: inherit; font-weight: bold; padding: 0 10px; }
.mlist li > a:hover { background: #e6e6e6; color: #b00; }



.upoutavka { position: relative; display: block; font-weight: bold; min-height: 100px; }
.upoutavka > img { width: 100%; background-color: #aaa; display: block; }
.upoutavka .horni, .upoutavka .stredni, .upoutavka .dolni { position: absolute; color: #fff; background-color: rgba(0, 0, 0, 0.7); width: 100%; }
.upoutavka > div > div { margin: 10px; }
.upoutavka .horni { top: 0; }
.upoutavka .dolni { bottom: 0; text-transform: uppercase; text-align: center; }
.upoutavka .stredni { top: 12%; }
.upoutavka .gradient { width: 100%; height: 50px; background-image: data-uri('gradient.png'); position: absolute; bottom: 0; }


/* titulka, novinky titulka */
.novt { padding-bottom: 5px; }
.novt > h2 { text-transform: uppercase; text-align: center; font-size: 100%; margin: 5px 0; }
.novt > h2 a { text-decoration: none; color: #fff; display: inline-block; }
.novt .ntext { margin: 0 27px 0 30px; padding-right: 5px; text-align: justify; overflow: hidden; }
.novt .ntext:not(:last-child) { margin-top: -30px; position: relative; z-index: 1; }
.novt .ntext:last-child { margin-bottom: 1em; }
.novt .ntext > h3 { font-size: 120%; margin: 0; text-align: left; }
.novt .ntext ol { padding-left: 15px; }
.novt .ntext p { margin: 0.7em 0; }
.novt .ntext .datum { float: right; color: #bbb; font-style: italic; margin-left: 10px; }
.novt .ntext .orez { margin-bottom: -1.5em; }
.novt .ntext .vice { display: block; position: absolute; background-color: #fff; bottom: 0; right: 0; padding: 0 5px; }


/* Registrace */
.registrace .pokyn { float: right; width: 240px; }
.registrace input[type="text"], .registrace input[type="password"], .registrace input[type="email"], .registrace select { display: block; width: 210px; }
.registrace select { width: 224px; }
.registrace .avatar { float: left; margin: -8px 8px 0 2px; border-radius: 3px; height: 100px; width: initial; }


/* Formuláře */
input[type="text"], input[type="password"], input[type="submit"], input[type="number"], input[type="email"], select, textarea {
  color: #000; background-color: #e8e8e8; border: none; border-radius: 3px; font-family: inherit; font-size: 100%;
  padding: 0.2em 0.5em; margin: 2px; }
input[type="submit"] { color: #fff; background-color: #444; font-weight: bold; cursor: pointer; }
input[type="submit"]:hover { color: #ddd; }
label { color: #999; cursor: pointer }
:checked + label { color: #000; }


/* Obecné speciality */
.hinted { border-bottom: dotted 1px; cursor: pointer; margin-bottom: -1px; display: inline-block; }
.hinted.i:after { .ikona; .flaticon-info30; color: #444; font-size: 0.8em; line-height: 1em; vertical-align: 10%; }
.hinted .hint { display: none; }
.hinted:hover .hint {
  @sh: 8px;
  line-height: 130%; font-size: 14px; font-weight: normal; color: #fff; z-index: 10; border-radius: 4px;
  display: block; position: absolute; max-width: 20em; padding: 0.8em; background-color: rgba(0,0,0,0.8); margin-top: @sh; margin-left: -5px;
  text-shadow: 0 0 2px #000;
  &:before { content: " "; display: block; border: solid @sh transparent; border-bottom-color: rgba(0,0,0,0.8); position: absolute; top: -2*@sh; left: 15px; }
  a:before { content: " "; position: absolute; top: -@sh; left: 0; height: @sh; width: 100%; }
}
.chybaBlok { position: fixed; z-index: 999; text-align: center; width: 100%; margin: 1em 0px; }
.chybaBlok .hlaska { display: inline-block; padding: 2em 5em; color: #d00; border-radius: 5px; max-width: @sirka; box-shadow: 0 15px 45px #444; }
.chybaBlok .error { background-color: rgba(255, 192, 192, 0.9); }
.chybaBlok .oznameni { background-color: rgba(150, 200, 150, 0.9); color: #040; }
.fotka {
  position: relative;
  width: 150px; height: 150px;
  background-size: cover; background-position: center center;
  &:before { background-image: url('fotka-prekryv.png'); background-size: 100% 100%; width: 100%; height: 100%; position: absolute; display: block; content: ""; }
}
.drdStaty {
  > div:nth-child(odd) { float: left; min-width: 7em; }
  > div:nth-child(even) hr { display: inline-block; border: none; background-image: url('hvezda-drd.png'); width: 14px; height: 14px; margin: 0 0.3em 0 0; }
  &:after { content: " "; display: block; clear: both; }
}
#easyCenter { background: transparent; } // fixy videoplayeru
#easyContainer { img, iframe { box-shadow: 0 0 10px #000; }}
#easyOverlay { background-color: #666; }
#easyCaption { color: #fff; }


/* Elementy generované sdílenými třídami */
.cShopJidlo td, .cShopPredmety td { padding: 0 1em 0 0; line-height: 1.4em; }
.cShopJidlo input[type="checkbox"] { margin: 0 1px; }
.cShopPredmety .plus, .predmety .minus { background-color: #444; color: #fff; text-decoration: none !important; padding: 0 1em; font-weight: bold;  border-radius: 3px; }
.cShopPredmety .plus:hover, .predmety .minus:hover { color: #ddd; }
.cShopPredmety .neaktivni { background-color: #e8e8e8; }
.cShopPredmety .neaktivni:hover { color: #fff; cursor: default; }


/* Responsivní design */

@media @stredni {
  .sloupce:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
  .sloupce .blok { float: left; width: (100 - @sloupm) / 2; }
  .sloupce .blok:not(:nth-child(2n)) { margin-right: @sloupm; }
  .menu > ul > li { width: 50%; }
  .nic-nenalezeno { position: absolute; font-size: 1.5em; right: 4em; opacity: 0.5; top: 1em; }
}

@media @siroke {
  @sloupw: (100 - 2 * @sloupm) / 3;
  .sloupce:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
  .sloupce .blok { float: left; width: @sloupw; }
  .sloupce .blok:not(:nth-child(3n)) { margin-right: @sloupm; }
}



/* LESS specific věci */

.column-count(@arg) {
  -webkit-column-count: @arg;
  -moz-column-count: @arg;
  column-count: @arg;
}

.column-gap(@arg) {
  -webkit-column-gap: @arg;
  -moz-column-gap: @arg;
  column-gap: @arg;
}


// Ikonfonty - nutno mít zde kvůli cacheování
// toto je nutno vykopírovat z flaticonu a odstranit :before
.flaticon-clock96 {
  content: "\e000";
}
.flaticon-coins24 {
  content: "\e001";
}
.flaticon-down119 {
  content: "\e002";
}
.flaticon-favourites7 {
  content: "\e003";
}
.flaticon-info30 {
  content: "\e004";
}
.flaticon-multiple25 {
  content: "\e005";
}
.flaticon-play38 {
  content: "\e006";
}
.flaticon-silhouette78 {
  content: "\e007";
}
.flaticon-tag31 {
  content: "\e008";
}
.flaticon-up151 {
  content: "\e009";
}

// Toto je relevantní kód
@font-face { font-family: "Ikony"; src: @fontflaticon; font-weight: normal; font-style: normal; }
.ikona { font-family: Ikony; font-weight: normal; font-style: normal; }
.ikona.hodiny     { &:before { .flaticon-clock96; }}
.ikona.mince      { &:before { .flaticon-coins24; }}
.ikona.dolu       { &:before { .flaticon-down119; }}
.ikona.nahoru     { &:before { .flaticon-up151; }}
.ikona.lide       { &:before { .flaticon-multiple25; }}
.ikona.play       { &:before { .flaticon-play38; }}
.ikona.clovek     { &:before { .flaticon-silhouette78; }}
.ikona.stitek     { &:before { .flaticon-tag31; }}
.ikona.hvezda     { &:before { .flaticon-favourites7; }}

.tip {
  font-style: italic;
}
