body {
  font-size: 80%;
  }
  
td {
  height: 16px;
  }
  
img {
  height: 14px;
  }

.denik {
  position: absolute;
  top: 120px;
  left: 35px;
  width: 584px;
  }
  
.stranka img {
  height: 901px;
  }
  
.zacatek {
  float: left;
  overflow: hidden;
  width: 584px;
  }
  
.parametry {
  float: left;
  overflow: hidden;
  width: 292px;
  height: 350px;
  margin-top: 10px;
  }
  
.zbrane {
  float: left;
  overflow: hidden;
  width: 292px;
  height: 350px;
  position: relative;
  top: -138px;
  }
  
.schopnosti {
  float: left;
  overflow: hidden;
  width: 292px;
  position: relative;
  top: -230px;
  }
  
.veci {
  float: left;
  overflow: hidden;
  width: 292px;
  position: relative;
  top: -220px;
  }
  
.veci2 {
  float: left;
  overflow: hidden;
  width: 292px;
  position: relative;
  top: -220px;
  }
  
.veci2a, .veci2b {
  float: left;
  overflow: hidden;
  width: 140px;
  }
  
.poznamka {
  float: left;
  overflow: hidden;
  width: 584px;
  position: relative;
  top: -200px;
  }
  
.parametry th {
  width: 100px;
  text-align: left;
  }
  
.parametry td {
  width: 50px;
  text-align: left;
  }
  
.zbrane .prvni {
  width: 100px;
  text-align: left;
  }
  
th {
  text-align: left;
  }