AddDefaultCharset UTF-8
RewriteEngine On

#---odstranění lomítka z konce
# parsování requestu http požadavku - toto je debilní ale apache to přes REQUEST URI prostě nežere
RewriteCond %{THE_REQUEST} ^[A-Z]+\ (.+)/\ [A-Z0-9\./]+$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) %1 [R,L]

#---prepis cesty v adrese na promennou
RewriteCond %{REQUEST_URI} !\.[[:alnum:]]+$ 
RewriteRule (.*) index.php?req=$1 [L,QSA]

<Files ~ ".hhp">
	Order allow,deny
	Deny from all
</Files>

#php_value xdebug.profiler_enable 1
