@sirkaPruhu: 320px;
@sirkaPruhu2: 500px;
@programNahled_siroke: ~"(min-width: 1500px)";
@programNahled_vysoke: ~"(min-height: 650px)";

// obaly

.programNahled_obalNahledu {
    height: 100%;
    width: 0;
    right: 0;
    position: absolute;
    &-viditelny {
        .programNahled_nahled { display: block; }
    }
    &-maData {
        .programNahled_obsah { display: flex; }
        .programNahled_placeholder { display: none; }
    }
}

.programNahled_obalProgramu {
    &-zuzeny {
        margin-right: @sirkaPruhu;
        @media @programNahled_siroke {
            margin-right: @sirkaPruhu2;
        }
    }
}

.programNahled_nahled {
    width: @sirkaPruhu;
    height: 100vh;
    background-color: #fff;
    float: right;
    position: sticky;
    top: 0;
    right: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    display: none; // ve výchozím stavu je náhled skrytý
    overflow-y: scroll;
    z-index: 10;
    @media @programNahled_siroke {
        width: @sirkaPruhu2;
    }
    @media @programNahled_vysoke {
        overflow-y: auto;
    }
}

// obsah

.programNahled_obsah {
    display: none; // ve výchozím stavu je obsah nenačtený, tj. skrytý
    min-height: 100%;
    background: #F6F1EA;
    border: solid 10px #fff;
    box-sizing: border-box;
    padding: 40px 15px 0;

    font-size: 12px;
    line-height: 19/12;
    letter-spacing: 0.05em;

    flex-direction: column;

    @media @programNahled_vysoke {
        height: 100%;
    }

    @media @programNahled_siroke {
        padding: 60px 45px 80px;
        font-size: 13px;
        background:
            url('../blackarrow/program-nahled/spodek.jpg') no-repeat 0 100%,
            url('../blackarrow/program-nahled/flek.jpg') no-repeat 20px 20px,
            #F6F1EA;
    }
}

.programNahled_zaviratko {
    position: absolute;
    top: 25px;
    right: 25px;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.0;
    cursor: pointer;
    &::before {
        color: #666;
        content: '✕';
    }
}

.programNahled_hlavicka {
    padding-bottom: 15px;
    border-bottom: solid 2px #e7e7e4;
    margin-bottom: 24px;
    flex-shrink: 0;
    @media @programNahled_siroke {
        margin-bottom: 30px;
        padding-bottom: 25px;
    }
}

.programNahled_nazev {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.25;
    margin-bottom: 17px;
    @media @programNahled_siroke {
        font-size: 32px;
        margin-bottom: 30px;
    }
}

.programNahled_vypraveci {
    &::before {
        content: 'Vypravěč: ';
        font-weight: bold;
    }
    margin-bottom: 12px;
}

.programNahled_stitek {
    display: inline-block;
    background-color: #FDC689;
    font-weight: bold;
    font-size: 10px;
    padding: 6px 12px 5px;
    margin: 0 8px 8px 0;
}

.programNahled_text {
    padding-right: 15px;

    // standardized scrollbar (firefox)
    scrollbar-color: #FDC689 #EDE3D6;
    scrollbar-width: thin;

    // webkit/chrome scrollbar
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #EDE3D6;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #FDC689;
    }

    @media @programNahled_vysoke {
        overflow-y: auto;
    }
    @media @programNahled_siroke {
        margin-right: -20px;
    }
}

.programNahled_kratkyPopis {
    font-weight: bold;
}

.programNahled_paticka {
    margin-top: 5px;
    flex-shrink: 0;
    @media @programNahled_siroke {
        margin-top: 41px;
        height: 180px;
    }
}

.programNahled_obsazenost, .programNahled_cas, .programNahled_cena {
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0;
    padding-left: 30px;
}

.programNahled_obsazenost {
    background: url('../blackarrow/program-nahled/clovek.svg') no-repeat 2px 30%;
    @media @programNahled_siroke {
        margin-top: 47px;
    }
}

.programNahled_cas {
    background: url('../blackarrow/program-nahled/hodiny.svg') no-repeat 0 30%;
}

.programNahled_cena {
    background: url('../blackarrow/program-nahled/dolary.svg') no-repeat 1px 2px;
}

.programNahled_obrazek {
    display: none;
    position: absolute;
    height: 180px;
    max-width: 180px * 16/9;
    right: 0;
    @media @programNahled_siroke {
        display: block;
    }
}

.program_den_detail:not(.program_den_detail-aktivni) {
    display: none;
}
