.gchlavicka {
    position: relative;
    background: url('../blackarrow/gchlavicka/pozadi.jpg') no-repeat;
    background-size: contain;
    height: 1011rel;
    overflow: hidden;
}

.gchlavicka > .p {
    position: absolute;
    font-size: 230rel;
    font-weight: bold;
}
.p1 { top:  20rel; left: 285rel; }
.p2 { top: 191rel; left: 722rel; }
.p3 { top: 443rel; left: 683rel; }
.p4 { top: 641rel; left: 933rel; }

.gchlavicka_claim {
    position: absolute;
    font-size: 20px;
    top: 475rel;
    left: 148rel;
}

.gchlavicka_datum {
    font-size: 26rel;
    font-weight: bold;
    color: #fff;
    background: url('../blackarrow/gchlavicka/smouha.png');
    background-size: cover;
    position: absolute;
    width: 252rel;
    padding: 15rel 0 15rel 50rel;
    box-sizing: border-box;
    top: 605rel;
    left: 1227rel;
}

.gchlavicka_misto {
    position: absolute;
    width: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 42rel;
    line-height: 56rel;
    top: 151rel;
    left: 1500rel;
}

.gchlavicka_video {
    display: block;
    position: absolute;
    vertical-align: top;
    top: 762rel;
    left: 1536rel;
    line-height: 44px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.gchlavicka_video::before {
    content: '';
    display: inline-block;
    background-image: url('../blackarrow/gchlavicka/play.png');
    height: 44px;
    width: 44px;
    margin: 0 15px -16px 0;
}
