/* CSS Document */

body {
	background:url(/layout/back.gif) repeat #ffffff fixed;
	padding:0px;
	margin:0px;
}

#left-top {
	background:url(/layout/back-lt.gif) no-repeat;
	width:242px;
	height:183px;
	position:absolute;
	left:0px;
	top:expression(eval(document.body.scrollTop));
	z-index:1;
}

*>#left-top {
	position:fixed;
	top:0px;
}

#left-bottom {
	background:url(/layout/back-lb.gif) no-repeat;
	width:136px;
	height:388px;
	position:absolute;
	left:0px;
	top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
	bottom:0px;
	z-index:1;
}

*>#left-bottom {
	position:fixed;
	top:auto;
}

#right-top {
	background:url(/layout/back-rt.gif) no-repeat;
	width:231px;
	height:133px;
	position:absolute;
	right:0px;
	top:expression(eval(document.body.scrollTop));
	z-index:1;
}

*>#right-top {
	position:fixed;
	top:0px;
}

#right-bottom {
	background:url(/layout/back-rb.gif) no-repeat;
	width:229px;
	height:227px;
	position:absolute;
	right:0px;
	top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
	bottom:0px;
	z-index:1;
}

*>#right-bottom {
	position:fixed;
	top:auto;
}

#container {
	border:1px solid #bbbbbb;
	background-image:url(/layout/back-cont-big.gif);
	background-position: center 40%;
	background-repeat:no-repeat;
	background-color:#ffffff;
	width:780px;
	margin-left:-370px;
	margin-bottom:50px;
	z-index:5;
	position:absolute;
	top:25px;
	left:49%;
	overflow:hidden;
}

#container div#logotype {
	background:url(/layout/back-logotype.gif) no-repeat #ffffff;
	width:100%;
	height:77px;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #bbbbbb;
	border-top:none;
	border-left:none;
	border-right:none;
}

#container div#logotype img {
	display:none;
}

#content-right {
	width:550px;
	float:right;
	border-left:1px solid #bbbbbb;
}

.content-file {
	border-right:1px dashed #cccccc;
	border-left:1px dashed #cccccc;
	margin:0px 30px 5px;
	padding:0px 5px 3px;
}

.content-file div {
	border:none;
	margin:0px;
	padding:0px 0px 6px;
}

#content-left {
	width:228px;
	float:left;
}

*>#content-left {
	width:229px;
}

#content-left h2 {
	background:#f6f6f6;
	border-bottom:1px solid #e1e1e1;
	border-top:1px solid #e1e1e1;
	padding:1px 0px 1px 35px;
	color:#336699;
}

.content-file-left {
	margin:0px 0px 5px 10px;
	padding:0px 5px 5px 0px;
}

.content-file-left a {
	border-left:5px solid #eeeeee;
	padding:0px 0px 0px 10px;
	display:block;
	margin:0px 0px 3px 0px;
	text-decoration:none;
	font-size:1.1em;
	letter-spacing:-0.05em;
	color:#aaaaaa;
}

.content-file-left a:hover, .content-file-left a:focus, .content-file-left a:active {
	border-left:5px solid #336699;
	color:#336699;
	text-decoration:none;
}

#container div#footer {
	text-align:center;
	font-size:10px;
	border-top:1px solid #bbbbbb;
	border-bottom:none;
	border-left:none;
	border-right:none;
	margin:0px;
	padding:5px 0px;
	height:25px;
	color:#888888;
	background:url(/layout/back-button-line.gif) repeat-x #eeeeee;
	overflow:hidden;
}

*>#container div#footer {
	height:16px;
}

#container div.gradient-bottom {
	background:url(/layout/gradient-bottom.gif) repeat-x #ffffff;
	padding:0px;
	margin:0px;
	height:12px;
	width:781px;
	border:none;
	overflow:hidden;
	clear:both;
}

*>#container div.gradient-bottom {
	width:780px;
}

#container div.gradient-top {
	background:url(/layout/gradient-top.gif) repeat-x #ffffff;
	padding:0px;
	margin:0px;
	height:12px;
	width:780px;
	border:none;
	overflow:hidden;
}

#container div.button-line {
	padding:0px 9px;
	margin:0px;
	height:25px;
	background:url(/layout/back-button-line.gif) repeat-x #eeeeee;
	border:none;
	border-bottom:1px solid #bbbbbb;
	overflow:hidden;
}

.button-line a.button {
	background:url(/layout/back-button.gif) no-repeat;
	border:none;
	width:95px;
	height:25px;
	text-align:center;
	text-decoration:none;
	font-size:15px;
	padding:3px 0px;
	margin:0px;
	letter-spacing:-0.05em;
	color:#999999;
	font-weight:bold;
}

*>.button-line a.button {
	display:block;
	float:left;
	height:19px;
}

.button-line a.button:hover, #container a.button:focus {
	background:#dddddd;
	color:#336699;
	font-weight:bold;
}

#container div.button-line-bottom {
	padding:0px 9px;
	margin:0px;
	height:25px;
	background:url(/layout/back-button-line.gif) repeat-x #eeeeee;
	border:none;
	border-bottom:1px solid #bbbbbb;
	overflow:hidden;
}

.button-line-bottom a.button {
	background:url(/layout/back-button-l.gif) no-repeat;
	border:none;
	width:190px;
	height:25px;
	text-align:center;
	text-decoration:none;
	font-size:15px;
	padding:3px 0px;
	margin:0px;
	letter-spacing:-0.05em;
	color:#999999;
	font-weight:bold;
}

*>.button-line-bottom a.button {
	display:block;
	float:left;
	height:19px;
}

.button-line-bottom a.button:hover, #container a.button:focus {
	background:#dddddd;
	color:#336699;
	font-weight:bold;
	text-decoration:none;
}