AddDefaultCharset UTF-8
RewriteEngine On

#---pridani lomitka na konec
RewriteCond %{REQUEST_URI} /$
RewriteRule (.*)/$ /$1 [R,L]
#TRIK: L ukonèí pøepisy, nicménì pøesmìruje, tím se vyvolá nový reqest
#s už reparsovanou adresou, na které se vykoná pak korektnì parsování
#cesty (viz další RewriteCond)

#---prepis cesty v adrese na promennou
RewriteCond %{REQUEST_URI} !\.[[:alnum:]]+$ 
RewriteRule (.*) index.php?req=$1 [L,QSA]
