Allow from all

AddDefaultCharset UTF-8
RewriteEngine On

#---odstranění lomítka z konce
RewriteCond %{THE_REQUEST} ^[A-Z]+\ (.+)/\ [A-Z0-9\./]+$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) %1 [R,L]

#---prepis cesty v adrese na promennou
RewriteCond %{REQUEST_URI} !\.[[:alnum:]]+$
RewriteRule (.*) index.php?req=$1 [L,QSA]
