details {
  width: 80%;
  margin-bottom: .5rem;
  overflow: hidden;
}

details[open] {
  margin-bottom: 1em;
}

details[open] > article {
  border: solid 2px black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

summary {
  color: white;
  background: #E22630;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0.5em 1em;
}

details[open] > summary {
  background: black;
}

summary:hover {
  background: black;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}