.stranka {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto 100px;
    font-size: 16px;
    line-height: 26/16;

    h1, h2, h3 {
        line-height: normal;
    }

    h1 {
        font-size: 52px;
        margin: 55px 0 33px;
    }

    h2 {
        font-size: 32px;
        margin: 54px 0 31px;
    }

    h3 {
        font-size: 24px;
        margin: 31px 0 21px;
    }

    img {
        max-width: 100%;
    }

    ul {
        padding-left: 14px;
    }

    ol {
        padding-left: 18px;
    }
}
