input[type=text].form-control, input[type=password].form-control {
  padding-right: calc(1.5em + .75rem);
}

.container .d-flex {
  position: relative;
}

.background-image {
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -100;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
  .background-image {
    filter: invert(100%);
  }
  label {
    color: #fff;
  }
  input.form-control, input.form-control:focus {
    background-color: #3b3b3b;
    color: #fff;
  }
}