name: Run tests
on:
  push:
    branches: # beta a master si pouští testy samy, před deployem, viz deploy-beta.yml a deploy-ostra.yml
      - '!beta'
      - '!master'
jobs:
  run-tests:
    strategy:
      fail-fast: false

    name: Run tests job
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2' # musí odpovídat verzi na wedosu
          # extensions musí odpovídat seznamu v composer.json
          extensions: bcmath, curl, exif, fileinfo, gd, iconv, imagick, intl, json, mbstring, mysqli, pdo, sqlite3, xmlreader, zip
          tools: composer
          coverage: none

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Install dependencies
        run: composer install # includes dev by default

      - name: Setup MySQL for tests
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: 'mariadb-10.3' # mělo by odpovídat verzi na wedosu

      - name: Run tests
        run: ./vendor/bin/phpunit --testdox
